body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #E5E5E5;
    font-family: "Futura PT" , sans-serif; 
}
* ::after, *::before{
            box-sizing: inherit;
}
.container{
    max-width: 1245px;
    margin: 0 auto;
    padding: 0 10px;
}
img{
  max-width: 100%;
  height: auto;
}
